# Regression - Taxi Prediction Model

This project utilizes number of passengers and flights arriving at the airport, taxi, rideshare services such as Uber and Lyft data, and daily temperature data that I cleaned and analyzed to create a prediction model for YVR airport using machine learning techniques such as Decision Trees and Regression. The purpose of this model is to accurately predict how many taxis are required at the airport at a specific period of time during the day.

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import warnings
from sklearn.exceptions import DataConversionWarning

warnings.filterwarnings("ignore", category=DataConversionWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore", category=FutureWarning)


cleaned_data = pd.read_csv('merged_fixed.csv')

In [2]:
# Dropping rows with missing values in "ride.count" column since there is no 2019 
cleaned_data= cleaned_data.dropna(subset=["ride.count"])

In [3]:
# Fill in missing values for taxi wait with the column mean
cleaned_data['taximinwait'] = pd.to_numeric(cleaned_data['taximinwait'], errors='coerce')
cleaned_data['taximinwait'] = cleaned_data['taximinwait'].fillna(cleaned_data['taximinwait'].mean())

In [4]:
cleaned_data

,Unnamed: 0,date,Entry.hour,Domestic,Transborder,Latin America,Asia Pacific,Europe,Middle East,Africa,total_passengers,TaxiCount,taximinwait,ride.count,precip_amt,temp
14377,14378,2021-01-01,10,981,49,0,34,0,0,0,1064,18.0,43.268333,26.0,NaN,NaN
14378,14379,2021-01-01,11,344,0,0,0,0,0,0,344,12.0,55.350000,26.0,NaN,NaN
14379,14380,2021-01-01,12,374,48,0,42,0,0,0,464,18.0,42.297222,33.0,NaN,NaN
14380,14381,2021-01-01,13,147,20,0,0,0,0,0,167,32.0,32.333499,13.0,NaN,NaN
14381,14382,2021-01-01,14,16,0,0,0,0,0,0,16,4.0,89.225000,7.0,NaN,NaN
14382,14383,2021-01-01,15,175,0,0,299,0,0,0,474,7.0,34.112857,10.0,NaN,NaN
14383,14384,2021-01-01,16,337,0,0,0,0,0,0,337,58.0,32.333499,7.0,NaN,NaN
14384,14385,2021-01-01,17,93,0,0,0,0,0,0,93,6.0,32.333499,5.0,NaN,NaN
14385,14386,2021-01-01,18,82,0,0,0,0,0,0,82,16.0,47.728125,5.0,NaN,NaN
14386,14387,2021-01-01,19,366,0,0,0,0,0,0,366,26.0,21.005769,6.0,NaN,NaN
14387,14388,2021-01-01,20,56,0,0,0,0,0,0,56,17.0,60.755294,5.0,NaN,NaN
14388,14389,2021-01-01,21,12,60,47,0,0,0,0,119,11.0,22.123636,10.0,NaN,NaN
14389,14390,2021-01-01,22,0,34,0,0,0,0,0,34,30.0,25.067667,7.0,NaN,NaN
14390,14391,2021-01-01,23,2,0,0,0,0,0,0,2,13.0,26.101538,2.0,NaN,NaN
14391,14392,2021-01-01,6,0,0,0,242,0,0,0,242,9.0,80.251111,25.0,NaN,NaN
14392,14393,2021-01-01,7,262,0,0,0,0,0,0,262,9.0,58.590000,16.0,NaN,NaN
14393,14394,2021-01-01,9,78,68,0,69,0,0,0,215,2.0,69.175000,8.0,NaN,NaN
14394,14395,2021-01-02,10,611,67,0,0,0,0,0,678,30.0,10.092333,19.0,NaN,NaN
14395,14396,2021-01-02,11,97,25,0,0,155,0,0,277,38.0,16.536053,31.0,NaN,NaN
14396,14397,2021-01-02,12,757,47,0,0,30,0,0,834,42.0,7.648810,16.0,NaN,NaN
14397,14398,2021-01-02,13,253,18,0,0,0,0,0,271,39.0,32.333499,11.0,NaN,NaN
14398,14399,2021-01-02,14,193,0,0,204,0,0,0,397,27.0,29.803333,4.0,NaN,NaN
14399,14400,2021-01-02,15,99,76,0,93,168,0,0,436,22.0,22.142727,7.0,NaN,NaN
14400,14401,2021-01-02,16,487,64,0,0,0,0,0,551,63.0,7.862222,6.0,NaN,NaN
14401,14402,2021-01-02,17,60,51,0,0,0,0,0,111,68.0,12.328382,6.0,NaN,NaN
14402,14403,2021-01-02,18,111,27,0,78,0,0,0,216,9.0,42.781111,5.0,NaN,NaN
14403,14404,2021-01-02,19,389,0,19,0,0,0,0,408,33.0,23.552424,7.0,NaN,NaN
14404,14405,2021-01-02,20,132,28,143,0,0,0,0,303,46.0,6.498913,9.0,NaN,NaN
14405,14406,2021-01-02,21,79,22,52,0,0,0,0,153,38.0,32.333499,9.0,NaN,NaN
14406,14407,2021-01-02,22,76,77,0,0,0,0,0,153,32.0,9.878438,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29071,29072,2023-01-30,20,606,195,322,0,0,0,0,1123,75.0,32.333499,60.0,0.0,0.1
29072,29073,2023-01-30,21,1235,879,0,0,0,0,0,2114,107.0,32.333499,47.0,0.0,0.0
29073,29074,2023-01-30,22,877,383,270,0,0,0,0,1530,132.0,32.333499,38.0,0.0,0.1
29074,29075,2023-01-30,23,72,579,237,0,0,0,0,888,108.0,32.333499,5.0,0.0,0.2
29075,29076,2023-01-30,5,0,0,0,1215,0,0,0,1215,6.0,32.333499,172.0,0.0,-5.0
29076,29077,2023-01-30,6,448,366,0,0,0,0,0,814,34.0,32.333499,230.0,0.0,-4.4
29077,29078,2023-01-30,7,993,218,0,343,0,0,0,1554,46.0,32.333499,239.0,0.0,-4.5
29078,29079,2023-01-30,8,325,293,0,285,0,0,0,903,31.0,29.415484,99.0,0.0,-4.9
29079,29080,2023-01-30,9,540,0,0,510,0,0,0,1050,31.0,21.201290,149.0,0.0,-2.8
29080,29081,2023-01-31,0,423,76,170,0,0,0,0,669,90.0,32.333499,2.0,0.0,0.3
29081,29082,2023-01-31,10,1096,266,0,170,0,0,0,1532,83.0,32.333499,183.0,0.0,-0.1
29082,29083,2023-01-31,11,744,539,169,847,0,0,0,2299,80.0,32.333499,168.0,0.0,0.2
29083,29084,2023-01-31,12,1263,120,166,76,265,0,0,1890,90.0,32.333499,116.0,0.0,0.5
29084,29085,2023-01-31,13,244,325,0,0,0,0,0,569,66.0,32.333499,98.0,0.0,0.8
29085,29086,2023-01-31,14,488,293,0,0,0,0,0,781,57.0,32.333499,107.0,0.0,1.0
29086,29087,2023-01-31,15,965,236,0,370,298,0,0,1869,71.0,32.333499,77.0,0.0,1.3
29087,29088,2023-01-31,16,878,546,0,0,309,0,0,1733,95.0,32.333499,63.0,0.0,1.4
29088,29089,2023-01-31,17,459,724,0,331,0,0,0,1514,100.0,32.333499,52.0,0.0,1.3
29089,29090,2023-01-31,18,866,481,0,541,283,0,0,2171,107.0,32.333499,46.0,0.0,1.3
29090,29091,2023-01-31,19,939,412,0,0,0,0,0,1351,149.0,32.333499,37.0,0.0,1.4
29091,29092,2023-01-31,2,0,0,158,0,0,0,0,158,6.0,32.333499,8.0,0.0,0.2
29092,29093,2023-01-31,20,1157,380,169,358,0,0,0,2064,55.0,8.016000,62.0,0.0,1.2
29093,29094,2023-01-31,21,1268,391,169,0,0,0,0,1828,118.0,32.333499,75.0,0.3,0.4
29094,29095,2023-01-31,22,376,789,454,0,0,0,0,1619,109.0,32.333499,30.0,0.7,0.2
29095,29096,2023-01-31,23,66,336,294,0,0,0,0,696,88.0,32.333499,5.0,0.5,0.2
29096,29097,2023-01-31,5,0,0,0,681,0,0,0,681,11.0,32.333499,177.0,0.3,-1.0
29097,29098,2023-01-31,6,471,195,0,298,0,0,0,964,29.0,32.333499,236.0,0.5,-1.1
29098,29099,2023-01-31,7,836,694,0,298,0,0,0,1828,35.0,32.333499,150.0,0.8,-1.2
29099,29100,2023-01-31,8,398,65,0,274,0,0,0,737,24.0,35.146250,80.0,0.6,-1.0
29100,29101,2023-01-31,9,565,192,0,822,0,0,0,1579,31.0,32.333499,120.0,0.0,-0.6

In [5]:
#splitting the data into training and testing sets, within chosen features
X = cleaned_data[['Entry.hour', 'ride.count', 'precip_amt', 'total_passengers','temp']]
y = cleaned_data['TaxiCount']

In [6]:

X = X.fillna(0) #fixing the other NA
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=37)

In [7]:
print(np.isnan(X_train).sum())
print(np.isinf(X_train).sum())
print(np.isnan(y_train).sum())
print(np.isinf(y_train).sum())

0
0
73
0

In [8]:
y_train = np.nan_to_num(y_train)
y_test = np.nan_to_num(y_test)

In [9]:
# Grid search with cross-validation
param_grid = {'fit_intercept': [True, False], 'normalize': [True, False]}
model = LinearRegression()
grid_search = GridSearchCV(model, param_grid, cv=5)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'fit_intercept': [True, False], 'normalize': [True, False]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [10]:
best_model = grid_search.best_estimator_
print("Best parameters:", grid_search.best_params_)
print("Best score:", grid_search.best_score_)

Best parameters: {'fit_intercept': True, 'normalize': True}
Best score: 0.3533518150570999

In [11]:
y_pred = best_model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
#print("Mean Squared Error:", mse)

Mean Squared Error: 996.0801681689037

In [12]:
# Making predictions
# The number of taxis needed for each entry hour

model.fit(X_train, y_train)
scale_factor = 1.3 # Scaling to consider any unforeseen factors or variability in the data

unique_entry_hours = sorted(cleaned_data['Entry.hour'].unique())
for entry_hour in unique_entry_hours:
    entry_hour_data = cleaned_data[cleaned_data['Entry.hour'] == entry_hour]
    entry_hour_data_scaled = scaler.transform(entry_hour_data[['Entry.hour', 'ride.count', 'precip_amt', 'total_passengers','temp']])
    entry_hour_data_scaled = np.nan_to_num(entry_hour_data_scaled)  
    
    # Scaling based on factors
    ride_count_avg = entry_hour_data_scaled[:, 3].mean()
    precip_amt = entry_hour_data_scaled[:, 1]
    total_passengers = entry_hour_data_scaled[:, 1]
    temp= entry_hour_data_scaled[:, 2]
    scaling_factor = np.where((entry_hour >= 3) & (entry_hour <= 11), ride_count_avg * temp, -ride_count_avg)  # At entry hour 3 to 11 there is a bigger ride.count average than TaxiCount average 
    
    predicted_count = model.predict(entry_hour_data_scaled) * scale_factor * (1 + precip_amt) / (1 + total_passengers) * (1 + temp)
    predicted_count = np.clip(predicted_count, 14, 116)  # Based on low and high-end average of cabs at each entry hour
    predicted_count = predicted_count.astype(int)  
    
    print(f"At entry hour {entry_hour}, {predicted_count[0]} cabs are needed.")

At entry hour 0, 17 cabs are needed.
At entry hour 1, 14 cabs are needed.
At entry hour 2, 14 cabs are needed.
At entry hour 3, 15 cabs are needed.
At entry hour 4, 80 cabs are needed.
At entry hour 5, 26 cabs are needed.
At entry hour 6, 36 cabs are needed.
At entry hour 7, 39 cabs are needed.
At entry hour 8, 41 cabs are needed.
At entry hour 9, 41 cabs are needed.
At entry hour 10, 75 cabs are needed.
At entry hour 11, 49 cabs are needed.
At entry hour 12, 55 cabs are needed.
At entry hour 13, 46 cabs are needed.
At entry hour 14, 43 cabs are needed.
At entry hour 15, 63 cabs are needed.
At entry hour 16, 59 cabs are needed.
At entry hour 17, 52 cabs are needed.
At entry hour 18, 53 cabs are needed.
At entry hour 19, 66 cabs are needed.
At entry hour 20, 56 cabs are needed.
At entry hour 21, 60 cabs are needed.
At entry hour 22, 58 cabs are needed.
At entry hour 23, 59 cabs are needed.